{% extends 'assessment/base.html' %}
{% load static %}

{% block title %}EduPath | Student Dashboard{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
        <section class="hero">
            <div class="hero-content">
                <h1 class="hero-title">
                    Welcome,<br>
                    <span>{{ student_name|default:user.student_profile.full_name|default:user.first_name|default:user.username|default:"Student"|title }}!</span>
                </h1>

                <p class="hero-description">
                    EduPath helps you discover the right academic
                    track and career path through smart assessments
                    and personalized insights.
                </p>
            </div>

            <div class="hero-illustration">
                <img src="{% static 'img/asu-kalibo.jpg' %}" alt="EduPath">
            </div>
        </section>

        <section class="card flow">
            <div class="flow-heading">
                <h2>Assessment Flow</h2>
                <p>Here's how the assessment works.</p>
            </div>

            <div class="steps">
                <div class="step">
                    <div class="step-icon">
                        <i class="fa-solid fa-brain"></i>
                    </div>
                    <div class="step-number">1</div>
                    <h3>Aptitude Assessment</h3>
                    <p>
                        48 multiple choice items
                    </p>
                </div>

                <div class="step">
                    <div class="step-icon">
                        <i class="fa-solid fa-sliders"></i>
                    </div>
                    <div class="step-number">2</div>
                    <h3>Preference Assessment</h3>
                    <p>
                        60 Likert-scale items
                    </p>
                </div>

                <div class="step">
                    <div class="step-icon">
                        <i class="fa-solid fa-trophy"></i>
                    </div>
                    <div class="step-number">3</div>
                    <h3>Results</h3>
                    <p>
                        Top 3 recommendation
                    </p>
                </div>
            </div>

            <button class="start-button" onclick="window.location.href='{% url 'aptitude_ready' %}'">
                Start Assessment
                <i class="fa-solid fa-arrow-right" style="margin-left: 8px;"></i>
            </button>
        </section>
{% endblock %}